In [1]:
import pandas as pd 
import geopandas as gpd

# reading database
geo_data = gpd.GeoDataFrame(gpd.read_file("WijkBuurtkaart_2021_v2/wijkenbuurten_2021_v2.gpkg"))
#convert Rijksdriehoeksmeting (RD) GIS coordinates format to Lat/Long 
geo_data.set_crs(epsg='28992')
geo_data = geo_data.to_crs(epsg='4326') 

# get the only data we need 
geo_data = geo_data[geo_data['gemeentenaam'] == "Amsterdam"]
geo_data = geo_data[geo_data['buurtnaam'] != " "]
data_buurt = pd.DataFrame(geo_data.drop(columns='geometry', axis = 1))
data_buurt = data_buurt[data_buurt["water"] == "NEE"]
geo_data = geo_data[['geometry', 'buurtcode']]

# write it down to the .csv file
geo_data.to_csv(r'geodata_amsterdam.csv', index = False)

print(geo_data.shape)
geo_data.head()

(479, 2)

                                               geometry   buurtcode
4121  MULTIPOLYGON (((4.90096 52.37724, 4.90195 52.3...  BU03630000
4122  MULTIPOLYGON (((4.89651 52.37575, 4.89707 52.3...  BU03630001
4123  MULTIPOLYGON (((4.89966 52.37468, 4.90002 52.3...  BU03630002
4124  MULTIPOLYGON (((4.89301 52.37271, 4.89331 52.3...  BU03630003
4125  MULTIPOLYGON (((4.89613 52.37177, 4.89670 52.3...  BU03630004

In [2]:
print(data_buurt.shape)
data_buurt.head()

(479, 144)

,buurtcode,buurtnaam,wijkcode,gemeentecode,gemeentenaam,indelingswijziging_wijken_en_buurten,water,meest_voorkomende_postcode,dekkingspercentage,omgevingsadressendichtheid,...,bioscoop_gemiddeld_aantal_binnen_10_km,bioscoop_gemiddeld_aantal_binnen_20_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_gemiddeld_aantal_binnen_10_km,attractiepark_gemiddeld_aantal_binnen_20_km,attractiepark_gemiddeld_aantal_binnen_50_km,jrstatcode,jaar
4121,BU03630000,Kop Zeedijk,WK036300,GM0363,Amsterdam,1,NEE,1012,1,6776,...,14.0,21.0,0.6,1.6,1.1,9.0,17.0,67.2,2021BU03630000,2021
4122,BU03630001,Oude Kerk e.o.,WK036300,GM0363,Amsterdam,1,NEE,1012,1,7430,...,14.0,21.0,0.5,1.5,1.1,9.0,17.0,66.9,2021BU03630001,2021
4123,BU03630002,Burgwallen Oost,WK036300,GM0363,Amsterdam,1,NEE,1012,1,7559,...,14.0,20.6,0.3,1.6,0.8,9.0,17.0,67.0,2021BU03630002,2021
4124,BU03630003,Nes e.o.,WK036300,GM0363,Amsterdam,1,NEE,1012,1,9947,...,14.0,20.6,0.3,1.3,1.0,9.0,17.0,67.4,2021BU03630003,2021
4125,BU03630004,BG-terrein e.o.,WK036300,GM0363,Amsterdam,1,NEE,1012,1,8489,...,14.0,20.2,0.2,1.4,0.8,9.0,17.0,67.2,2021BU03630004,2021

In [3]:
data_buurt.columns.to_list()

['buurtcode',
 'buurtnaam',
 'wijkcode',
 'gemeentecode',
 'gemeentenaam',
 'indelingswijziging_wijken_en_buurten',
 'water',
 'meest_voorkomende_postcode',
 'dekkingspercentage',
 'omgevingsadressendichtheid',
 'stedelijkheid_adressen_per_km2',
 'bevolkingsdichtheid_inwoners_per_km2',
 'aantal_inwoners',
 'mannen',
 'vrouwen',
 'percentage_personen_0_tot_15_jaar',
 'percentage_personen_15_tot_25_jaar',
 'percentage_personen_25_tot_45_jaar',
 'percentage_personen_45_tot_65_jaar',
 'percentage_personen_65_jaar_en_ouder',
 'percentage_ongehuwd',
 'percentage_gehuwd',
 'percentage_gescheid',
 'percentage_verweduwd',
 'geboorte_totaal',
 'geboortes_per_1000_inwoners',
 'sterfte_totaal',
 'sterfte_relatief',
 'aantal_huishoudens',
 'percentage_eenpersoonshuishoudens',
 'percentage_huishoudens_zonder_kinderen',
 'percentage_huishoudens_met_kinderen',
 'gemiddelde_huishoudsgrootte',
 'percentage_westerse_migratieachtergrond',
 'percentage_niet_westerse_migratieachtergrond',
 'percentage_uit_marokko',
 'percentage_uit_nederlandse_antillen_en_aruba',
 'percentage_uit_suriname',
 'percentage_uit_turkije',
 'percentage_overige_nietwestersemigratieachtergrond',
 'aantal_bedrijven_landbouw_bosbouw_visserij',
 'aantal_bedrijven_nijverheid_energie',
 'aantal_bedrijven_handel_en_horeca',
 'aantal_bedrijven_vervoer_informatie_communicatie',
 'aantal_bedrijven_financieel_onroerend_goed',
 'aantal_bedrijven_zakelijke_dienstverlening',
 'aantal_bedrijven_overheid_onderwijs_en_zorg',
 'aantal_bedrijven_cultuur_recreatie_overige',
 'aantal_bedrijfsvestigingen',
 'woningvoorraad',
 'gemiddelde_woningwaarde',
 'percentage_eengezinswoning',
 'percentage_meergezinswoning',
 'percentage_bewoond',
 'percentage_koopwoningen',
 'percentage_huurwoningen',
 'perc_huurwoningen_in_bezit_woningcorporaties',
 'perc_huurwoningen_in_bezit_overige_verhuurders',
 'percentage_woningen_met_eigendom_onbekend',
 'percentage_bouwjaarklasse_tot_2000',
 'percentage_bouwjaarklasse_vanaf_2000',
 'percentage_leegstand_woningen',
 'personenautos_totaal',
 'personenautos_per_huishouden',
 'personenautos_per_km2',
 'motortweewielers_totaal',
 'aantal_personenautos_met_brandstof_benzine',
 'aantal_personenautos_met_overige_brandstof',
 'oppervlakte_totaal_in_ha',
 'oppervlakte_land_in_ha',
 'oppervlakte_water_in_ha',
 'huisartsenpraktijk_gemiddelde_afstand_in_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_1_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_3_km',
 'huisartsenpraktijk_gemiddeld_aantal_binnen_5_km',
 'apotheek_gemiddelde_afstand_in_km',
 'grote_supermarkt_gemiddelde_afstand_in_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_1_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_3_km',
 'grote_supermarkt_gemiddeld_aantal_binnen_5_km',
 'winkels_ov_dagelijkse_levensm_gem_afst_in_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_1_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_3_km',
 'winkels_ov_dagel_levensm_gem_aantal_binnen_5_km',
 'warenhuis_gemiddelde_afstand_in_km',
 'warenhuis_gemiddeld_aantal_binnen_5_km',
 'warenhuis_gemiddeld_aantal_binnen_10_km',
 'warenhuis_gemiddeld_aantal_binnen_20_km',
 'cafe_gemiddelde_afstand_in_km',
 'cafe_gemiddeld_aantal_binnen_1_km',
 'cafe_gemiddeld_aantal_binnen_3_km',
 'cafe_gemiddeld_aantal_binnen_5_km',
 'cafetaria_gemiddelde_afstand_in_km',
 'cafetaria_gemiddeld_aantal_binnen_1_km',
 'cafetaria_gemiddeld_aantal_binnen_3_km',
 'cafetaria_gemiddeld_aantal_binnen_5_km',
 'restaurant_gemiddelde_afstand_in_km',
 'restaurant_gemiddeld_aantal_binnen_1_km',
 'restaurant_gemiddeld_aantal_binnen_3_km',
 'restaurant_gemiddeld_aantal_binnen_5_km',
 'hotel_gemiddelde_afstand_in_km',
 'hotel_gemiddeld_aantal_binnen_5_km',
 'hotel_gemiddeld_aantal_binnen_10_km',
 'hotel_gemiddeld_aantal_binnen_20_km',
 'kinderdagverblijf_gemiddelde_afstand_in_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_1_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_3_km',
 'kinderdagverblijf_gemiddeld_aantal_binnen_5_km',
 'buitenschoolse_opvang_gem_afstand_in_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_1_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_3_km',
 'buitenschoolse_opvang_gemiddeld_aantal_binnen_5_km',
 'basisonderwijs_gemiddelde_afstand_in_km',
 'basisonderwijs_gemiddeld_aantal_binnen_1_km',
 'basisonderwijs_gemiddeld_aantal_binnen_3_km',
 'basisonderwijs_gemiddeld_aantal_binnen_5_km',
 'voortgezet_onderwijs_gem_afstand_in_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_3_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_5_km',
 'voortgezet_onderwijs_gemiddeld_aantal_binnen_10_km',
 'vmbo_gemiddelde_afstand_in_km',
 'vmbo_gemiddeld_aantal_binnen_3_km',
 'vmbo_gemiddeld_aantal_binnen_5_km',
 'vmbo_gemiddeld_aantal_binnen_10_km',
 'havo_vwo_gemiddelde_afstand_in_km',
 'havo_vwo_gemiddeld_aantal_binnen_3_km',
 'havo_vwo_gemiddeld_aantal_binnen_5_km',
 'havo_vwo_gemiddeld_aantal_binnen_10_km',
 'brandweerkazerne_gemiddelde_afstand_in_km',
 'zwembad_gemiddelde_afstand_in_km',
 'kunstijsbaan_gemiddelde_afstand_in_km',
 'bibliotheek_gemiddelde_afstand_in_km',
 'bioscoop_gemiddelde_afstand_in_km',
 'bioscoop_gemiddeld_aantal_binnen_5_km',
 'bioscoop_gemiddeld_aantal_binnen_10_km',
 'bioscoop_gemiddeld_aantal_binnen_20_km',
 'sauna_gemiddelde_afstand_in_km',
 'zonnebank_gemiddelde_afstand_in_km',
 'attractiepark_gemiddelde_afstand_in_km',
 'attractiepark_gemiddeld_aantal_binnen_10_km',
 'attractiepark_gemiddeld_aantal_binnen_20_km',
 'attractiepark_gemiddeld_aantal_binnen_50_km',
 'jrstatcode',
 'jaar']

In [4]:
data = data_buurt.copy()
data.drop('gemeentecode', axis=1, inplace = True)
data.drop('gemeentenaam', axis=1, inplace = True)
data.drop('indelingswijziging_wijken_en_buurten', axis=1, inplace = True)
data.drop('water', axis=1, inplace = True)
data.drop('meest_voorkomende_postcode', axis=1, inplace = True)
data.drop('dekkingspercentage', axis=1, inplace = True)
data.drop('omgevingsadressendichtheid', axis=1, inplace = True)
data.drop('stedelijkheid_adressen_per_km2', axis=1, inplace = True)
data.drop('geboorte_totaal', axis=1, inplace = True)
data.drop('sterfte_totaal', axis=1, inplace = True)
data.drop('sterfte_relatief', axis=1, inplace = True)
data.drop('oppervlakte_totaal_in_ha', axis=1, inplace = True)
data.drop('percentage_eenpersoonshuishoudens', axis=1, inplace = True)
data.drop('percentage_huishoudens_zonder_kinderen', axis=1, inplace = True)
data.drop('percentage_huishoudens_met_kinderen', axis=1, inplace = True)
data.drop('aantal_personenautos_met_brandstof_benzine', axis=1, inplace = True)
data.drop('aantal_personenautos_met_overige_brandstof', axis=1, inplace = True)
data.drop('personenautos_totaal', axis=1, inplace = True)
data.drop('personenautos_per_km2', axis=1, inplace = True)
data.drop('oppervlakte_land_in_ha', axis=1, inplace = True)
data.drop('oppervlakte_water_in_ha', axis=1, inplace = True)
data.drop('percentage_westerse_migratieachtergrond', axis=1, inplace = True)
data.drop('percentage_niet_westerse_migratieachtergrond', axis=1, inplace = True)
data.drop('percentage_uit_marokko', axis=1, inplace = True)
data.drop('percentage_uit_nederlandse_antillen_en_aruba', axis=1, inplace = True)
data.drop('percentage_uit_suriname', axis=1, inplace = True)
data.drop('percentage_uit_turkije', axis=1, inplace = True)
data.drop('percentage_overige_nietwestersemigratieachtergrond', axis=1, inplace = True)
data.drop(list(data.filter(regex = '_binnen_')), axis = 1, inplace = True)
data.drop('jrstatcode', axis=1, inplace = True)
#data.columns.to_list()

In [5]:
data.replace(to_replace="X", value="0", inplace=True)
data.replace(to_replace="-", value="0", inplace=True)
data.replace(to_replace=-99999999, value=0, inplace=True)

for col_name in data.select_dtypes(include=[object]):
    data[col_name] = data[col_name].str.replace(',','.')
    
data.fillna(0, inplace=True)
cols=[i for i in data.columns if i not in ["wijkcode","buurtnaam","buurtcode"]]
for col in cols:
    data[col]=pd.to_numeric(data[col])

In [6]:
print(data.dtypes.to_list())

[dtype('O'), dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('int64')]

In [7]:
new_data = pd.read_csv('wijken.csv', sep = ";")
print(new_data.shape)
new_data.head()

(3417, 143)

,fid,geom,wijkcode,wijknaam,gemeentecode,gemeentenaam,indelingswijziging_wijken_en_buurten,water,omgevingsadressendichtheid,stedelijkheid_adressen_per_km2,...,bioscoop_gemiddeld_aantal_binnen_10_km,bioscoop_gemiddeld_aantal_binnen_20_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,attractiepark_gemiddeld_aantal_binnen_10_km,attractiepark_gemiddeld_aantal_binnen_20_km,attractiepark_gemiddeld_aantal_binnen_50_km,jrstatcode,jaar
0,1,GP,WK003499,,GM0034,Almere,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK003499,2021.0
1,2,GP,WK005099,,GM0050,Zeewolde,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK005099,2021.0
2,3,GP,WK006099,,GM0060,Ameland,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK006099,2021.0
3,4,GP,WK007299,,GM0072,Harlingen,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK007299,2021.0
4,5,GP,WK008899,,GM0088,Schiermonnikoog,-99999999,JA,-99999999.0,-99999999.0,...,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,-99999999.0,2021WK008899,2021.0

In [8]:
data_wijk = new_data[new_data['gemeentenaam'] == "Amsterdam"]
data_wijk = data_wijk[data_wijk['wijknaam'] != ' ']
data_wijk = data_wijk[['wijkcode', 'wijknaam']]
print(data_wijk.shape)
data_wijk.head()

(99, 2)

     wijkcode                 wijknaam
905  WK036300    Burgwallen-Oude Zijde
906  WK036301  Burgwallen-Nieuwe Zijde
907  WK036302      Grachtengordel-West
908  WK036303      Grachtengordel-Zuid
909  WK036304       Nieuwmarkt/Lastage

In [9]:
#data = pd.merge(data, data_wijk, on="wijkcode")
def get_wijk(row):
    data_row = data_wijk[data_wijk['wijkcode'] == row['wijkcode']]
    value = "" if data_row.empty else data_row['wijknaam'].iloc[0]
    return value
    

data = data.copy()

data['wijknaam'] = data.apply(lambda row: get_wijk(row), axis=1)
print(data.shape)
data.head()

(479, 68)

,buurtcode,buurtnaam,wijkcode,bevolkingsdichtheid_inwoners_per_km2,aantal_inwoners,mannen,vrouwen,percentage_personen_0_tot_15_jaar,percentage_personen_15_tot_25_jaar,percentage_personen_25_tot_45_jaar,...,brandweerkazerne_gemiddelde_afstand_in_km,zwembad_gemiddelde_afstand_in_km,kunstijsbaan_gemiddelde_afstand_in_km,bibliotheek_gemiddelde_afstand_in_km,bioscoop_gemiddelde_afstand_in_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,jaar,wijknaam
4121,BU03630000,Kop Zeedijk,WK036300,18567,1115,650,465,4,13,50,...,1.2,2.0,5.3,0.9,1.2,0.6,1.6,1.1,2021,Burgwallen-Oude Zijde
4122,BU03630001,Oude Kerk e.o.,WK036300,7756,695,390,305,3,21,49,...,1.5,1.9,5.4,1.2,1.0,0.5,1.5,1.1,2021,Burgwallen-Oude Zijde
4123,BU03630002,Burgwallen Oost,WK036300,27483,1650,860,790,5,17,47,...,1.3,2.0,5.2,1.1,0.9,0.3,1.6,0.8,2021,Burgwallen-Oude Zijde
4124,BU03630003,Nes e.o.,WK036300,7360,370,205,165,6,17,51,...,1.6,1.7,5.3,1.5,0.6,0.3,1.3,1.0,2021,Burgwallen-Oude Zijde
4125,BU03630004,BG-terrein e.o.,WK036300,8638,695,385,310,5,20,42,...,1.5,1.8,5.1,1.4,0.6,0.2,1.4,0.8,2021,Burgwallen-Oude Zijde

In [10]:
data['wijkcode'] = data['wijkcode'].astype(str).str.replace('WK0363', '')
data.head()

,buurtcode,buurtnaam,wijkcode,bevolkingsdichtheid_inwoners_per_km2,aantal_inwoners,mannen,vrouwen,percentage_personen_0_tot_15_jaar,percentage_personen_15_tot_25_jaar,percentage_personen_25_tot_45_jaar,...,brandweerkazerne_gemiddelde_afstand_in_km,zwembad_gemiddelde_afstand_in_km,kunstijsbaan_gemiddelde_afstand_in_km,bibliotheek_gemiddelde_afstand_in_km,bioscoop_gemiddelde_afstand_in_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,jaar,wijknaam
4121,BU03630000,Kop Zeedijk,00,18567,1115,650,465,4,13,50,...,1.2,2.0,5.3,0.9,1.2,0.6,1.6,1.1,2021,Burgwallen-Oude Zijde
4122,BU03630001,Oude Kerk e.o.,00,7756,695,390,305,3,21,49,...,1.5,1.9,5.4,1.2,1.0,0.5,1.5,1.1,2021,Burgwallen-Oude Zijde
4123,BU03630002,Burgwallen Oost,00,27483,1650,860,790,5,17,47,...,1.3,2.0,5.2,1.1,0.9,0.3,1.6,0.8,2021,Burgwallen-Oude Zijde
4124,BU03630003,Nes e.o.,00,7360,370,205,165,6,17,51,...,1.6,1.7,5.3,1.5,0.6,0.3,1.3,1.0,2021,Burgwallen-Oude Zijde
4125,BU03630004,BG-terrein e.o.,00,8638,695,385,310,5,20,42,...,1.5,1.8,5.1,1.4,0.6,0.2,1.4,0.8,2021,Burgwallen-Oude Zijde

In [11]:
import re
data_wijk_stadsdeelcode = pd.read_csv('GEBIED_BUURTEN.csv', sep = ";")
data_wijk_stadsdeelcode = data_wijk_stadsdeelcode[['Wijkcode', 'Stadsdeelcode']]
data_wijk_stadsdeelcode = data_wijk_stadsdeelcode.rename(columns={'Wijkcode': 'wijkcode'})
data_wijk_stadsdeelcode = data_wijk_stadsdeelcode.drop_duplicates(subset=["wijkcode"], keep='first')

print(data_wijk_stadsdeelcode.shape)
data_wijk_stadsdeelcode.head()

(107, 2)

   wijkcode Stadsdeelcode
0       A00             A
3       A01             A
11      A02             A
14      A03             A
21      A04             A

In [12]:
data_stadsdelen = pd.read_csv('GEBIED_STADSDELEN.csv', sep = ";")
data_stadsdelen = data_stadsdelen[['Stadsdeelcode', 'Stadsdeelnaam']]
data_stadsdelen = data_stadsdelen.rename(columns={'Stadsdeelnaam': 'stadsdeel'})
#print(data_stadsdelen.shape)
data_stadsdelen.head()

  Stadsdeelcode   stadsdeel
0             A     Centrum
1             B   Westpoort
2             E        West
3             F  Nieuw-West
4             K        Zuid

In [13]:
print(data_stadsdelen.shape)
data_stadsdelen = pd.merge(data_stadsdelen, data_wijk_stadsdeelcode, on="Stadsdeelcode")
print(data_stadsdelen.shape)
data_stadsdelen.head()

(9, 2)
(107, 3)

  Stadsdeelcode stadsdeel wijkcode
0             A   Centrum      A00
1             A   Centrum      A01
2             A   Centrum      A02
3             A   Centrum      A03
4             A   Centrum      A04

In [14]:
data_stadsdelen['wijkcode'] = data_stadsdelen['wijkcode'].astype(str).str.replace('\D', 'WK0363', regex=True)
data_stadsdelen.to_excel('amsterdam_stadsdelen.xlsx', index = None, header=True)
data_stadsdelen['wijkcode'] = data_stadsdelen['wijkcode'].astype(str).str.replace('WK0363', '', regex=True)
print(data_stadsdelen.shape)
data_stadsdelen.head()

(107, 3)

  Stadsdeelcode stadsdeel wijkcode
0             A   Centrum       00
1             A   Centrum       01
2             A   Centrum       02
3             A   Centrum       03
4             A   Centrum       04

In [15]:
#data = pd.merge(data, data_wijk, on="wijkcode")
def get_stadsdeel(row):
    #print("wijkcode: " +  row['wijkcode'] + " stadsdeel: " + )
    data_row = data_stadsdelen[data_stadsdelen['wijkcode'] == row['wijkcode']]
    value = "" if data_row.empty else data_row['stadsdeel'].iloc[0]
    return value
    

data = data.copy()

data['stadsdeel'] = data.apply(lambda row: get_stadsdeel(row), axis=1)
print(data.shape)
data.head()

(479, 69)

,buurtcode,buurtnaam,wijkcode,bevolkingsdichtheid_inwoners_per_km2,aantal_inwoners,mannen,vrouwen,percentage_personen_0_tot_15_jaar,percentage_personen_15_tot_25_jaar,percentage_personen_25_tot_45_jaar,...,zwembad_gemiddelde_afstand_in_km,kunstijsbaan_gemiddelde_afstand_in_km,bibliotheek_gemiddelde_afstand_in_km,bioscoop_gemiddelde_afstand_in_km,sauna_gemiddelde_afstand_in_km,zonnebank_gemiddelde_afstand_in_km,attractiepark_gemiddelde_afstand_in_km,jaar,wijknaam,stadsdeel
4121,BU03630000,Kop Zeedijk,00,18567,1115,650,465,4,13,50,...,2.0,5.3,0.9,1.2,0.6,1.6,1.1,2021,Burgwallen-Oude Zijde,Centrum
4122,BU03630001,Oude Kerk e.o.,00,7756,695,390,305,3,21,49,...,1.9,5.4,1.2,1.0,0.5,1.5,1.1,2021,Burgwallen-Oude Zijde,Centrum
4123,BU03630002,Burgwallen Oost,00,27483,1650,860,790,5,17,47,...,2.0,5.2,1.1,0.9,0.3,1.6,0.8,2021,Burgwallen-Oude Zijde,Centrum
4124,BU03630003,Nes e.o.,00,7360,370,205,165,6,17,51,...,1.7,5.3,1.5,0.6,0.3,1.3,1.0,2021,Burgwallen-Oude Zijde,Centrum
4125,BU03630004,BG-terrein e.o.,00,8638,695,385,310,5,20,42,...,1.8,5.1,1.4,0.6,0.2,1.4,0.8,2021,Burgwallen-Oude Zijde,Centrum

In [16]:
empty_data = data[data['stadsdeel'] == '']
empty_data.shape

(0, 69)

In [17]:
def calculate_totaal_from_perc(persentage, aantal):
    return int(persentage * aantal / 100)

def calculate_totaal_from_av(avg, aantal):
    return int(avg * aantal)

data['eengezinswoning'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_eengezinswoning'],
                                                                            row['woningvoorraad']), axis=1)
data['meergezinswoning'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_meergezinswoning'],
                                                                                            row['woningvoorraad']), axis=1)
data['koopwoningen'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_koopwoningen'],
                                                                                            row['woningvoorraad']), axis=1)
data['huurwoningen'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_huurwoningen'],
                                                                                            row['woningvoorraad']), axis=1)
data['huurwoningen_in_bezit_woningcorporaties'] = data.apply(lambda row: calculate_totaal_from_perc(row['perc_huurwoningen_in_bezit_woningcorporaties'],
                                                                                            row['woningvoorraad']), axis=1)
data['huurwoningen_in_bezit_overige_verhuurders'] = data.apply(lambda row: calculate_totaal_from_perc(row['perc_huurwoningen_in_bezit_overige_verhuurders'],
                                                                                            row['woningvoorraad']), axis=1)
data['woningen_met_eigendom_onbekend'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_woningen_met_eigendom_onbekend'],
                                                                                            row['woningvoorraad']), axis=1)
data['bouwjaarklasse_tot_2000'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_bouwjaarklasse_tot_2000'],
                                                                                            row['woningvoorraad']), axis=1)
data['bouwjaarklasse_vanaf_2000'] = data.apply(lambda row: calculate_totaal_from_perc(row['percentage_bouwjaarklasse_vanaf_2000'],
                                                                                            row['woningvoorraad']), axis=1)
data['woningwaarde'] = data.apply(lambda row: calculate_totaal_from_av(row['gemiddelde_woningwaarde'],
                                                                                            row['woningvoorraad']), axis=1)

In [18]:
data.drop('percentage_eengezinswoning', axis=1, inplace = True)
data.drop('percentage_meergezinswoning', axis=1, inplace = True)
data.drop('percentage_koopwoningen', axis=1, inplace = True)
data.drop('percentage_huurwoningen', axis=1, inplace = True)
data.drop('perc_huurwoningen_in_bezit_woningcorporaties', axis=1, inplace = True)
data.drop('perc_huurwoningen_in_bezit_overige_verhuurders', axis=1, inplace = True)
data.drop('percentage_woningen_met_eigendom_onbekend', axis=1, inplace = True)
data.drop('percentage_bouwjaarklasse_tot_2000', axis=1, inplace = True)
data.drop('percentage_bouwjaarklasse_vanaf_2000', axis=1, inplace = True)
#data.columns.to_list()

In [19]:
#Filter only the columns which we'll need to neighbourhood map
data_buurten = data[['bevolkingsdichtheid_inwoners_per_km2',
                     'aantal_inwoners',
                     'mannen',
                     'vrouwen',
                     'percentage_personen_0_tot_15_jaar',
                     'percentage_personen_15_tot_25_jaar',
                     'percentage_personen_25_tot_45_jaar', 
                     'percentage_personen_45_tot_65_jaar',
                     'percentage_personen_65_jaar_en_ouder',
                     'percentage_ongehuwd',
                     'percentage_gehuwd',
                     'percentage_gescheid', 
                     'percentage_verweduwd', 
                     'geboortes_per_1000_inwoners', 
                     'aantal_huishoudens', 
                     'gemiddelde_huishoudsgrootte', 
                     'woningvoorraad', 
                     'gemiddelde_woningwaarde',
                     'personenautos_per_huishouden', 
                     'motortweewielers_totaal',
                     'stadsdeel',
                     'buurtcode'
                    ]]

In [20]:
data_buurten.to_csv(r'amsterdam_buurten.csv', index = False)

# Prepare data for charts by city district

In [21]:
# First let's calculate total distance to aminities for all residents of city district
data['huisartsenpraktijk_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['huisartsenpraktijk_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['apotheek_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['apotheek_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['grote_supermarkt_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['grote_supermarkt_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['winkels_ov_dagelijkse_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['winkels_ov_dagelijkse_levensm_gem_afst_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['cafe_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['cafe_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['cafetaria_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['cafetaria_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['restaurant_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['restaurant_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['hotel_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['hotel_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['brandweerkazerne_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['brandweerkazerne_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['zwembad_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['zwembad_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['kunstijsbaan_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['kunstijsbaan_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['bibliotheek_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['bibliotheek_gemiddelde_afstand_in_km'],
                                                                                                        row['aantal_inwoners']), axis=1)
data['bioscoop_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['bioscoop_gemiddelde_afstand_in_km'],
                                                                                              row['aantal_inwoners']), axis=1)
data['sauna_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['sauna_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['zonnebank_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['zonnebank_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['attractiepark_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['attractiepark_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['kinderdagverblijf_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['kinderdagverblijf_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['bso_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['buitenschoolse_opvang_gem_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['basisonderwijs_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['basisonderwijs_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['voortgezet_onderwijs_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['voortgezet_onderwijs_gem_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['vmbo_gemiddelde_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['vmbo_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)
data['havo_vwo_total_km'] = data.apply(lambda row: calculate_totaal_from_av(row['havo_vwo_gemiddelde_afstand_in_km'],
                                                                                           row['aantal_inwoners']), axis=1)

In [22]:
data_district = data.groupby('stadsdeel')[['aantal_bedrijven_nijverheid_energie',
                                           'aantal_bedrijven_handel_en_horeca',
                                           'aantal_bedrijven_vervoer_informatie_communicatie',
                                           'aantal_bedrijven_financieel_onroerend_goed',
                                           'aantal_bedrijven_zakelijke_dienstverlening',
                                           'aantal_bedrijven_overheid_onderwijs_en_zorg',
                                           'aantal_bedrijven_cultuur_recreatie_overige',
                                           'aantal_bedrijfsvestigingen',
                                           'woningvoorraad',
                                           'eengezinswoning',
                                           'meergezinswoning',
                                           'koopwoningen',
                                           'huurwoningen',
                                           'huurwoningen_in_bezit_woningcorporaties',
                                           'huurwoningen_in_bezit_overige_verhuurders',
                                           'woningen_met_eigendom_onbekend',
                                           'bouwjaarklasse_tot_2000',
                                           'bouwjaarklasse_vanaf_2000',
                                           'huisartsenpraktijk_total_km',
                                           'apotheek_total_km',
                                           'grote_supermarkt_total_km',
                                           'winkels_ov_dagelijkse_total_km',
                                           'cafe_total_km',
                                           'cafetaria_total_km',
                                           'restaurant_total_km',
                                           'hotel_total_km',
                                           'brandweerkazerne_total_km',
                                           'zwembad_total_km',
                                           'kunstijsbaan_total_km',
                                           'bibliotheek_total_km',
                                           'bioscoop_total_km',
                                           'sauna_total_km',
                                           'zonnebank_total_km',
                                           'attractiepark_total_km',
                                           'kinderdagverblijf_total_km',
                                           'bso_total_km',
                                           'basisonderwijs_total_km',
                                           'voortgezet_onderwijs_total_km',
                                           'vmbo_gemiddelde_total_km',
                                           'havo_vwo_total_km',
                                           'aantal_inwoners'
                                          ]].apply(sum).reset_index()

In [23]:
data_woz = data.groupby('stadsdeel')[['woningvoorraad',
                                      'woningwaarde'
                                     ]].apply(sum).reset_index()

def calculate_avg_woz(stadsdeel):
    woz_row = data_woz[data_woz['stadsdeel'] == stadsdeel]
    result = woz_row['woningwaarde']/woz_row['woningvoorraad']
    return result.iloc[0]
    
data_district['gemiddelde_woningwaarde'] = data_district.apply(lambda row: calculate_avg_woz(row['stadsdeel']), axis=1)
data_district

,stadsdeel,aantal_bedrijven_nijverheid_energie,aantal_bedrijven_handel_en_horeca,aantal_bedrijven_vervoer_informatie_communicatie,aantal_bedrijven_financieel_onroerend_goed,aantal_bedrijven_zakelijke_dienstverlening,aantal_bedrijven_overheid_onderwijs_en_zorg,aantal_bedrijven_cultuur_recreatie_overige,aantal_bedrijfsvestigingen,woningvoorraad,...,zonnebank_total_km,attractiepark_total_km,kinderdagverblijf_total_km,bso_total_km,basisonderwijs_total_km,voortgezet_onderwijs_total_km,vmbo_gemiddelde_total_km,havo_vwo_total_km,aantal_inwoners,gemiddelde_woningwaarde
0,Centrum,1115,6030,3155,2675,8940,3045,5355,30340,55099,...,82057,138488,27784,35040,40687,82010,95687,82010,87100,543.848908
1,Nieuw-West,2860,3300,3505,950,4705,3130,2375,20940,70417,...,189382,387034,57484,71156,78470,163376,163376,214938,159545,314.025889
2,Noord,1585,2040,2215,670,3885,2095,2665,15200,46443,...,291052,593129,47886,57097,59641,105998,107555,180585,100895,322.017957
3,Oost,1145,2820,3350,1625,8130,3920,4440,25565,72796,...,183862,434827,43733,55170,68094,116183,124142,145187,141455,417.462100
4,West,1605,3810,3375,1335,8850,4160,5875,29030,80731,...,111577,306643,32245,47622,55803,155795,166712,165346,148035,415.170765
5,Westpoort,260,430,370,140,400,50,90,1730,30,...,366,631,221,228,228,150,283,171,140,0.000000
6,Zuid,1435,4600,2865,4415,10705,4730,4725,33510,82334,...,97776,379038,34476,53155,68401,79925,94666,96915,145280,552.929045
7,Zuidoost,950,1745,1475,850,2410,2120,1350,10920,42139,...,438544,215472,47359,54226,64987,135923,135923,142508,90090,237.374783

In [24]:
data_district['huisartsenpraktijk_avg_km'] = data_district.apply(lambda row: row['huisartsenpraktijk_total_km']/row['aantal_inwoners'], axis=1)
data_district['apotheek_avg_km'] = data_district.apply(lambda row: row['apotheek_total_km']/row['aantal_inwoners'], axis=1)
data_district['grote_supermarkt_avg_km'] = data_district.apply(lambda row: row['grote_supermarkt_total_km']/row['aantal_inwoners'], axis=1)
data_district['winkels_ov_dagelijkse_avg_km'] = data_district.apply(lambda row: row['winkels_ov_dagelijkse_total_km']/row['aantal_inwoners'], axis=1)
data_district['cafe_avg_km'] = data_district.apply(lambda row: row['cafe_total_km']/row['aantal_inwoners'], axis=1)
data_district['cafetaria_avg_km'] = data_district.apply(lambda row: row['cafetaria_total_km']/row['aantal_inwoners'], axis=1)
data_district['restaurant_avg_km'] = data_district.apply(lambda row: row['restaurant_total_km']/row['aantal_inwoners'], axis=1)
data_district['hotel_avg_km'] = data_district.apply(lambda row: row['hotel_total_km']/row['aantal_inwoners'], axis=1)
data_district['brandweerkazerne_avg_km'] = data_district.apply(lambda row: row['brandweerkazerne_total_km']/row['aantal_inwoners'], axis=1)
data_district['zwembad_avg_km'] = data_district.apply(lambda row: row['zwembad_total_km']/row['aantal_inwoners'], axis=1)
data_district['kunstijsbaan_avg_km'] = data_district.apply(lambda row: row['kunstijsbaan_total_km']/row['aantal_inwoners'], axis=1)
data_district['bibliotheek_avg_km'] = data_district.apply(lambda row: row['bibliotheek_total_km']/row['aantal_inwoners'], axis=1)
data_district['bioscoop_avg_km'] = data_district.apply(lambda row: row['bioscoop_total_km']/row['aantal_inwoners'], axis=1)
data_district['sauna_avg_km'] = data_district.apply(lambda row: row['sauna_total_km']/row['aantal_inwoners'], axis=1)
data_district['zonnebank_avg_km'] = data_district.apply(lambda row: row['zonnebank_total_km']/row['aantal_inwoners'], axis=1)
data_district['attractiepark_avg_km'] = data_district.apply(lambda row: row['attractiepark_total_km']/row['aantal_inwoners'], axis=1)
data_district['kinderdagverblijf_avg_km'] = data_district.apply(lambda row: row['kinderdagverblijf_total_km']/row['aantal_inwoners'], axis=1)
data_district['bso_avg_km'] = data_district.apply(lambda row: row['bso_total_km']/row['aantal_inwoners'], axis=1)
data_district['basisonderwijs_avg_km'] = data_district.apply(lambda row: row['basisonderwijs_total_km']/row['aantal_inwoners'], axis=1)
data_district['voortgezet_onderwijs_avg_km'] = data_district.apply(lambda row: row['voortgezet_onderwijs_total_km']/row['aantal_inwoners'], axis=1)
data_district['vmbo_gemiddelde_avg_km'] = data_district.apply(lambda row: row['vmbo_gemiddelde_total_km']/row['aantal_inwoners'], axis=1)
data_district['havo_vwo_avg_km'] = data_district.apply(lambda row: row['havo_vwo_total_km']/row['aantal_inwoners'], axis=1)

data_district.drop(['huisartsenpraktijk_total_km', 
                    'apotheek_total_km',
                    'grote_supermarkt_total_km',
                    'winkels_ov_dagelijkse_total_km',
                    'cafe_total_km',
                    'cafetaria_total_km',
                    'restaurant_total_km',
                    'hotel_total_km',
                    'brandweerkazerne_total_km',
                    'zwembad_total_km',
                    'kunstijsbaan_total_km',
                    'bibliotheek_total_km',
                    'bioscoop_total_km',
                    'sauna_total_km',
                    'zonnebank_total_km',
                    'attractiepark_total_km',
                    'kinderdagverblijf_total_km',
                    'bso_total_km',
                    'basisonderwijs_total_km',
                    'voortgezet_onderwijs_total_km',
                    'vmbo_gemiddelde_total_km',
                    'havo_vwo_total_km'], 
                   axis=1, inplace = True)

In [25]:
data_district.to_csv(r'amsterdam_district.csv', index = False)